<h1>Something cool</h1>
<form action="/signup" method="post">
  <input type="text" name="username" />
  <input type="email" name="email" />
  <input type="password" name="password" />
  <button>Sign up</button>
</form>